<h2>Favorited Hospitals</h2>

<table id="favorited-hospitals" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <% @favorites.each do |favorite| %>
    <tbody>
      <tr>
        <th><%= favorite.hospital.hospital_name %> </th>
        <th><%= favorite.hospital.address %></th>
        <th><%= favorite.hospital.city %></th>
        <th><%= favorite.hospital.state %></th>
        <th><%= favorite.hospital.phone %></th>
        <td><%= button_to "Delete" , user_favorite_path(current_user, favorite.id), method: "delete" %></td>
      </tr>
    </tbody>
    <% end %>
